// Lost Type fonts.css 0.1.0
// http://opensource.losttype.com
// Copyright 2014-2015 Kenneth Ormandy & The Lost Type Co-op
// MIT License

@charset "UTF-8";

/// The path to the font files.
///
/// @type String

$file-path: "../fonts/" !default;


/// @name Dude

@font-face {
  font-family: "Dude Dolly";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudedolly-n4.woff2") format("woff2"),
       url("#{ $file-path }dudedolly-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Johnny";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudejohnny-n4.woff2") format("woff2"),
       url("#{ $file-path }dudejohnny-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude June";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudejune-n4.woff2") format("woff2"),
       url("#{ $file-path }dudejune-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Kitty";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudekitty-n4.woff2") format("woff2"),
       url("#{ $file-path }dudekitty-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Loretta";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudeloretta-n4.woff2") format("woff2"),
       url("#{ $file-path }dudeloretta-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Merle";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudemerle-n4.woff2") format("woff2"),
       url("#{ $file-path }dudemerle-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Patsy";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudepatsy-n4.woff2") format("woff2"),
       url("#{ $file-path }dudepatsy-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Tammy";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudetammy-n4.woff2") format("woff2"),
       url("#{ $file-path }dudetammy-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Townes";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudetownes-n4.woff2") format("woff2"),
       url("#{ $file-path }dudetownes-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Waylon";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudewaylon-n4.woff2") format("woff2"),
       url("#{ $file-path }dudewaylon-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Willie";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudewillie-n4.woff2") format("woff2"),
       url("#{ $file-path }dudewillie-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Hank";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudehank-n4.woff2") format("woff2"),
       url("#{ $file-path }dudehank-n4.woff")  format("woff");
}


/// @name Dude Hank Pro

@font-face {
  font-family: "Dude Hank Sr";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudehanksr-n4.woff2") format("woff2"),
       url("#{ $file-path }dudehanksr-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Hank Jr";
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  src: url("#{ $file-path }dudehankjr-n4.woff2") format("woff2"),
       url("#{ $file-path }dudehankjr-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Hank III";
  font-weight: 400;
  font-style: normal;
  font-stretch: ultra-condensed;
  src: url("#{ $file-path }dudehankiii-n4.woff2") format("woff2"),
       url("#{ $file-path }dudehankiii-n4.woff")  format("woff");
}

@font-face {
  font-family: "Dude Catchwords";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dudecatchwords-n4.woff2") format("woff2"),
       url("#{ $file-path }dudecatchwords-n4.woff")  format("woff");
}

// @name Duke

@font-face {
  font-family: "Duke Regular";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dukeregular-n4.woff2") format("woff2"),
       url("#{ $file-path }dukeregular-n4.woff")  format("woff");
}

@font-face {
  font-family: "Duke Fill";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dukefill-n4.woff2") format("woff2"),
       url("#{ $file-path }dukefill-n4.woff")  format("woff");
}

@font-face {
  font-family: "Duke Shadow";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }dukeshadow-n4.woff2") format("woff2"),
       url("#{ $file-path }dukeshadow-n4.woff")  format("woff");
}


/// @name Edmondsans

@font-face {
  font-family: "Edmondsans";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }edmondsans-n4.woff2") format("woff2"),
       url("#{ $file-path }edmondsans-n4.woff")  format("woff");
}

@font-face {
  font-family: "Edmondsans";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }edmondsans-n5.woff2") format("woff2"),
       url("#{ $file-path }edmondsans-n5.woff")  format("woff");
}

@font-face {
  font-family: "Edmondsans";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }edmondsans-n7.woff2") format("woff2"),
       url("#{ $file-path }edmondsans-n7.woff")  format("woff");
}


/// @name Enemy

@font-face {
  font-family: "Enemy";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }enemy-n4.woff2") format("woff2"),
       url("#{ $file-path }enemy-n4.woff")  format("woff");
}


/// @name Fairview

@font-face {
  font-family: "Fairview";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  src: url("#{ $file-path }fairviewregular-n4.woff2") format("woff2"),
       url("#{ $file-path }fairviewregular-n4.woff")  format("woff");
}

@font-face {
  font-family: "Fairview";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: small-caps; // TODO Double-check on this
  src: url("#{ $file-path }fairviewsmallcaps-n4.woff2") format("woff2"),
       url("#{ $file-path }fairviewsmallcaps-n4.woff")  format("woff");
}


/// @name Klinic Slab

@font-face {
  font-family: "Klinic Slab";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }klinicslab-n3.woff2") format("woff2"),
       url("#{ $file-path }klinicslab-n3.woff")  format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }klinicslab-i3.woff2") format("woff2"),
       url("#{ $file-path }klinicslab-i3.woff")  format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }klinicslab-n4.woff2") format("woff2"),
       url("#{ $file-path }klinicslab-n4.woff")  format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }klinicslab-i4.woff2") format("woff2"),
       url("#{ $file-path }klinicslab-i4.woff")  format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }klinicslab-n5.woff2") format("woff2"),
       url("#{ $file-path }klinicslab-n5.woff")  format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }klinicslab-i5.woff2") format("woff2"),
       url("#{ $file-path }klinicslab-i5.woff")  format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }klinicslab-n7.woff2") format("woff2"),
       url("#{ $file-path }klinicslab-n7.woff")  format("woff");
}

@font-face {
  font-family: "Klinic Slab";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }klinicslab-i7.woff2") format("woff2"),
       url("#{ $file-path }klinicslab-i7.woff")  format("woff");
}


/// @name Lavanderia

@font-face {
  font-family: "Lavanderia";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }lavanderia-n3.woff2") format("woff2"),
       url("#{ $file-path }lavanderia-n3.woff")  format("woff");
}

@font-face {
  font-family: "Lavanderia";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }lavanderia-n4.woff2") format("woff2"),
       url("#{ $file-path }lavanderia-n4.woff")  format("woff");
}

@font-face {
  font-family: "Lavanderia";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }lavanderia-n7.woff2") format("woff2"),
       url("#{ $file-path }lavanderia-n7.woff")  format("woff");
}


/// @name Mission Gothic

@font-face {
  font-family: "Mission Gothic";
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-n1.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-n1.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-i1.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-i1.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-n3.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-n3.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-i3.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-i3.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-n4.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-n4.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-i4.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-i4.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-n7.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-n7.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-i7.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-i7.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-n9.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-n9.woff")  format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url("#{ $file-path }missiongothic-i9.woff2") format("woff2"),
       url("#{ $file-path }missiongothic-i9.woff")  format("woff");
}


/// @name Mission Script

@font-face {
  font-family: "Mission Script";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }missionscript-n4.woff2") format("woff2"),
       url("#{ $file-path }missionscript-n4.woff")  format("woff");
}


/// @name Wisdom Script

@font-face {
  font-family: "Wisdom Script";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("#{ $file-path }wisdomscript-n4.woff2") format("woff2"),
       url("#{ $file-path }wisdomscript-n4.woff")  format("woff");
}
